.main {
    min-height: 140vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.main::before {
    font-family: "Oswald", sans-serif;
    color: #888;
    content: "SOCIAL";
    position: absolute;
    left: 0;
    bottom: 240px;
    letter-spacing: 5px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 1000;
}

.main::after {
    content: '';
    background-color: #111111;
    opacity: .6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.menuOpen {
    text-rendering: auto;
    background-color: #1e1e1e;
    outline: none;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    margin: 25px 20px 0 0;
    z-index: 200;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: stretch;
    padding: 9px;
}

.menuClose {
    background-color: #000;
    width: 40px;
    height: 40px;
    color: #fff;
    border: 0;
    border-radius: 50%;
    outline: none;
    position: absolute;
    left: -18px;
    top: 0;
    z-index: 999999999;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menuOpen span {
    background-color: white;
    width: 30px;
    height: 2px;
}

.menuOpen span:nth-child(3) {
    width: 20px;
}

.burgerclose, .navbarclose {
    background: #191919;
    width: 0;
    margin: 0;
    height: 100% !important;
    padding: 65px 75px 65px 55px;
    position: fixed;
    right: -180px;
    top: 0;
    z-index: 999;
    transition: all 0.5s;
}

.navbaropen {
    background: #191919;
    width: 350px;
    margin: 0;
    padding: 65px 75px 65px 55px;
    position: fixed;
    right: -20px;
    top: 0;
    bottom: 0;
    z-index: 999;
    overflow-y: auto;
    transition: all 0.5s;
}

.burgeropen {
    background: #191919;
    width: 350px;
    margin: 0;
    padding: 65px 75px 65px 55px;
    position: fixed;
    right: -20px;
    top: 15px;
    bottom: 0;
    z-index: 999;
    transition: all 0.5s;
}

.closeBurger {
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 400px;
    bottom: 0;
}

.navbarclose li, .navbaropen li, .navbaropen ul, .navbarclose ul {
    list-style-type: none;
    margin: 0 0 15px;
    padding: 0;
    overflow: hidden;
}

.homeImg::after, .aboutImg::after, .skillsImg::after, .projectsImg::after, .contactImg::after {
    content: '';
    background-color: #111111;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    transition: 0.4s all;
}

.homeImg {
    background-image: url('../../assets/img/mainImg.jpg');
    background-size: contain;
    width: 100%;
    height: 200px;
    display: block;
    position: relative;
}

.homeHover:hover .homeImg::after {
    opacity: .9;
}

.homeImg::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "Home";
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    z-index: 999;
    opacity: 0;
    transition: all .4s;
}

.homeHover:hover .homeImg::before {
    opacity: 1;
}

.aboutImg {
    background-image: url('../../assets/img/aboutImg.jpg');
    background-size: contain;
    width: 100%;
    height: 200px;
    display: block;
    position: relative;
}

.aboutHover:hover .aboutImg::after {
    opacity: .9;
}

.aboutImg::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "ABOUT ME";
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    z-index: 999;
    opacity: 0;
    transition: all .4s;
}

.aboutHover:hover .aboutImg::before {
    opacity: 1;
}

.skillsImg {
    background-image: url('../../assets/img/skillsImg.jpg');
    background-size: contain;
    width: 100%;
    height: 200px;
    display: block;
    position: relative;
}

.skillsHover:hover .skillsImg::after {
    opacity: .9;
}

.skillsImg::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "SKILLS";
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    z-index: 999;
    opacity: 0;
    transition: all .4s;
}

.skillsHover:hover .skillsImg::before {
    opacity: 1;
}

.projectsImg {
    background-image: url('../../assets/img/projectsImg.jpg');
    background-size: contain;
    width: 100%;
    height: 200px;
    display: block;
    position: relative;
}

.projectsHover:hover .projectsImg::after {
    opacity: .9;
}

.projectsImg::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "PROJECTS";
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    z-index: 999;
    opacity: 0;
    transition: all .4s;
}

.projectsHover:hover .projectsImg::before {
    opacity: 1;
}

.contactImg {
    background-image: url('../../assets/img/contactImg.jpg');
    background-size: contain;
    width: 100%;
    height: 200px;
    display: block;
    position: relative;
}

.contactHover:hover .contactImg::after {
    opacity: .9;
}

.contactImg::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "CONTACT";
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    z-index: 999;
    opacity: 0;
    transition: all .4s;
}

.contactHover:hover .contactImg::before {
    opacity: 1;
}


.socialLinks {
    height: 100px;
    position: absolute;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    margin: 0 0 30px 25px;
    font-size: 1.3rem;
}

.socialLinks a {
    position: relative;
    z-index: 10;
}

.socialLinks::before {
    content: "";
    width: 2px;
    height: 50px;
    background: #888;
    position: absolute;
    left: 10px;
    top: -60px;
    z-index: 1000;
}

a:visited, a:active, a {
    color: white;
}

.bgImg {
    background-image: url('../../assets/img/BGmain.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-animation: kenburn 25s 2s alternate infinite;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

@keyframes kenburn {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    100% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    z-index: 4;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 8;
    padding-top: 70px;
}


.hello {
    padding-left: 3px;
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #fff;
    margin: 0;
    position: relative;
}

.hello::after {
    content: "";
    position: absolute;
    right: -60px;
    top: 11px;
    width: 65px;
    height: 1px;
    background: #fff;
    transition: all .3s;
}

.greeting:hover .hello::after {
    right: -85px;
}

.name {
    font-size: 3.66667rem;
    font-weight: bold;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #fff;
    margin: 10px 0 20px;
}

.button {
    font-family: "Oswald", sans-serif;
    height: 40px;
    line-height: 3;
    font-size: 0.8rem;
    color: #fff;
    border: 1px solid rgba(102, 102, 102, .8);
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    transition: all 0.3s;
}

.button:hover {
    background-color: rgba(102, 102, 102, .8);;
}

@media screen and (min-width: 2000px) {
    .main {
        min-height: 100vh;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        justify-content: center;
    }
}


@media screen and (max-width: 1024px) {
    .hello {
        font-size: 0.8rem;
    }

    .name {
        font-size: 2.66667rem;
    }
}

@media screen and (max-width: 1000px) {
    .main {
        min-height: 100vh;
    }

    .socialLinks {
        display: none;
    }

    .main::before {
        display: none;
    }

    .navbaropen {
        background-color: white;
        padding: 0 0 25px;
        width: 278px;
    }

    .burgeropen {
        background-color: white;
        padding: 0;
        width: 278px;
    }

    .homeImg {
        height: 145px;
    }

    .aboutImg {
        height: 145px;
    }

    .skillsImg {
        height: 145px;
    }

    .projectsImg {
        height: 145px;
    }

    .contactImg {
        height: 145px;
    }
}

@media screen and (max-width: 529px) {
    .hello {
        width: 170px;
    }

    .hello::after {
        top: 16px;
        right: -65px;
    }
}

