.main {
    min-height: 140vh;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.main::after {
    content: '';
    background-color: #111111;
    opacity: .6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.bgImg {
    background-image: url('../../assets/img/oboi7.com-85150.jpg');
    background-size: cover;
    background-position: center center;
    -webkit-animation: kenburn 25s 2s alternate infinite;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

@keyframes kenburn {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    100% {
        -webkit-transform: scale3d(1.3, 1.3, 1.3);
        transform: scale3d(1.3, 1.3, 1.3);
    }
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    z-index: 4;
}

.greeting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 8;
    padding-top: 70px;
}


.hello {
    font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #fff;
    margin: 0;
    position: relative;
}

.hello::after {
    content: "";
    position: absolute;
    right: -60px;
    top: 9px;
    width: 65px;
    height: 1px;
    background: #fff;
    transition: all .3s;
}

.greeting:hover .hello::after {
    right: -85px;
}

.name {
    font-size: 3.66667rem;
    font-weight: bold;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #fff;
    margin: 10px 0 20px;
}

.button {
    font-family: "Oswald", sans-serif;
    height: 40px;
    line-height: 3;
    font-size: 0.8rem;
    color: #fff;
    border: 1px solid rgba(102,102,102,.8);
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    transition: all 0.3s;
}

.button:hover{
    background-color: rgba(102,102,102,.8);;
}

@media screen and (max-width: 1024px) {
    .container {
        justify-content: center;
    }
}



@media screen and (max-width: 1024px) {
    .hello {
        font-size: 0.8rem;
    }
    .name {
        font-size: 2.66667rem;
    }
}

@media screen and (max-width: 1000px) {
    .main {
        min-height: 100vh;
    }
}

@media screen and (max-width: 529px) {
    .hello {
        width: 160px;
    }
    .hello::after {
        top: 16px;
        right: -75px;
    }
}

