.aboutbg {
    background-color: #202020;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.about {
    width: 90%;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
    color: white;
    padding-bottom: 100px;
}

.text {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.photo {
    width: 570px;
    height: 688px;
    padding: 15px;
    /*background-image: url('./foto.jpg');*/
    /*background-size: cover;*/
    /*background-position: center center;*/
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width: 1024px) {
    .aboutbg {
        min-height: max-content;
    }
}

@media screen and (max-width: 900px) {
    .about {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 570px) {
    .photo {
        width: 80%;
        height: 500px;
    }
    .text {
        width: 100%;
    }
}