.aboutbg {
    background-color: #202020;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.about {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.text {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 300px;
    height: 500px;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .about {
        flex-direction: column;
        align-items: center;
    }
}