.myworks {
    display: flex;
    flex-direction: column;
    background-image: url('https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    width: 32%;
    height: 390px;
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}

.myworks:hover .textName1::after {
    top: 0;
}

.textName1 {
    width: 100%;
    height: 100%;
    position: relative;
}

.textName1::after {
    content: "Dog Game";
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    right: 0;
    left: 0;
    bottom: 0;
    top: 110%;
    background-color: #111;
    opacity: .6;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

.myworks:hover .textName2::after {
    top: 0;
}

.textName2 {
    width: 100%;
    height: 100%;
    position: relative;
}

.textName2::after {
    content: "Social Network";
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    right: 0;
    left: 0;
    bottom: 0;
    top: 110%;
    background-color: #111;
    opacity: .6;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}

.myworks:hover .textName3::after {
    top: 0;
}

.textName3 {
    width: 100%;
    height: 100%;
    position: relative;
}

.textName3::after {
    content: "Counter";
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    right: 0;
    left: 0;
    bottom: 0;
    top: 110%;
    background-color: #111;
    opacity: .6;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
}
/*.head {*/
/*    height: 300px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    padding-left: 20px;*/
/*}*/

@media screen and (max-width: 1100px) {
    .myworks {
        width: 49%;
        height: 390px;
        margin: 10px 0;
    }
}

@media screen and (max-width: 576px) {
    .myworks {
        height:250px;
    }
}
@media screen and (max-width: 480px) {
    .myworks {
        width: 100%;
        height: 330px;
    }
}

