.projects {
    min-height: 70vh;
    background-color: #202020;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    width: 90%;
    display: flex;
    justify-content: center;
}

.title h2 {
    font-size: 2.3rem;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    margin: 100px 0 70px;
    color: #fff;
}

.components {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

@media screen and (max-width: 893px) {
    .components {
        justify-content: space-between;
    }
    .title h2 {
        margin: 50px 0 30px;
    }
}
@media screen and (max-width: 480px) {
    .components {
        justify-content: center;
    }
}
