.projects {
    min-height: 100vh;
    background-color: #202020;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.title {
    width: 80%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.components {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1004px) {
    .components {
        justify-content: center;
    }
}