.skills {
    min-height: 80vh;
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.view {
    width: 80%;
}

.title {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

