.footer {
    height: 150px;
    background-color: #202020;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.socialIcons {
    width: 300px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.socialIcons a {
    text-decoration:none;
    color: white;
}

@media screen and (max-width: 375px) {
    .socialIcons {
        width: 100%;
    }
}