.footer {
    height: 150px;
    background-color: #202020;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot {
    cursor: inherit;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.socialIcons {
    width: 300px;
    display: flex;
    justify-content: space-between;
    color: white;
    transition: 0.5s all;
}

.rootdefendens {
    letter-spacing: 0.1em;
    transition: 0.5s all;
    position: relative;
    z-index: 3;
    cursor: default;
}

.rootdefendens:hover {
    letter-spacing: 0.3em;
}

.socialIcons a {
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 3;
}

.socialIcons a:hover {
    opacity: .3;
    transition: all 0.3s;
}

@media screen and (max-width: 375px) {
    .socialIcons {
        width: 100%;
        justify-content: space-around;
    }
}