.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding-bottom: 30px;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    margin: 10px 0 30px;
}

.text {
    padding-bottom: 20px;
}

@media screen and (max-width: 1024px) {
    .block {
        width: 45%;
        padding: 10px;
    }
}

@media screen and (max-width: 800px) {
    .block {
        width: 40%;
        padding: 5px;
    }
    .name {
        font-size: 1.1rem;
    }
    .text {
        font-size: 0.8rem;
    }

    .head {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .block {
        width: 100%;
        padding: 0;
    }
    .name {
        font-size: 1.3rem;
    }
    .text {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 400px) {
    .block {
        width: 100%;
    }
    .head {
        font-size: 10px;
    }
}