.skills {
    min-height: 100vh;
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    letter-spacing: 1px;
    line-height: 22px;
    padding-bottom: 50px;
}

.view {
    width: 90%;
}

.title {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-size: 2.3rem;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    margin: 100px 0 70px;
    color: #fff;
}

.blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
    .blocks {
        flex-direction: column;
        align-items: center;
    }
}