.skills {
    min-height: 80vh;
    background-color: #111;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.view {
    width: 90%;
}

.title {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-size: 2.8rem;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    margin: 100px 0 50px;
    color: #fff;
}

.blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 1173px) {
    .blocks {
        flex-direction: column;
        align-items: center;
    }
}