/*перенести телефон в один ряд с адресом с 551 до 420 пикселей*/
.allElements {
    min-height: 60vh;
    background-color: #111;
    color: white;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.contacts {
    width: 90%;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.textcontact {
    width: 40%;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 57%;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input1, .input2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 20px;
}

.input1 input, .input2 input {
    width: 49%;
    height: 40px;
    padding: 6px 15px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: rgba(51, 51, 51, .5);
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    box-sizing: border-box;
}

.input1 input:focus, .input2 input:focus, .form textarea:focus {
    border-color: #666;
}


.form textarea {
    width: 100%;
    resize: none;
    box-shadow: none;
    border: none;
    background: rgba(51, 51, 51, .5);
    color: white;
    height: 150px;
    padding: 15px;
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    box-sizing: border-box;
}

.body button {
    margin: 40px 0 40px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border: none;
    padding: 9px 25px;
    text-transform: capitalize;
    display: inline-block;
    transition: all .3s;
    cursor: pointer;
    background: rgba(51, 51, 51, .5);
    border-radius: 0px;
}

.textcontact h2 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
}

.textcontact h3 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color: #fff;
    margin: 15px 0 10px;
}

.body h2 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
}
.addressPhone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .textcontact {
        width: 45%;
    }

    .body {
        width: 52%;
    }

    .input2, .input1 {
        flex-direction: column;
    }

    .input1 input, .input2 input {
        margin-bottom: 12px;
        width: 100%;
    }

    .input1, .input2 {
        padding-bottom: 0px;
    }

    .textcontact h2 {
        margin: 30px 0 20px;
    }

    .body h2 {
        margin: 30px 0 20px;
    }

    .allElements {
        padding-top: 20px;
    }
}

@media screen and (max-width: 556px) {
    .form {
        width: 100%;
    }

    .Address {
        width: 120px;
    }

    .Phone {
        margin-left: 20px;
    }

    .contacts {
        align-items: flex-start;
    }

    .addressPhone {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .textcontact {
        width: 100%;
    }

    .body {
        width: 100%;
    }
}


