body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#go-top {
  position: fixed;
  bottom: 25px;
  right: 10px;
  cursor:pointer;
  display:none;
  background: #111111;
  opacity: 1;
  border-radius: 50%;
  z-index: 99999999;
}

#go-top::after {
  content: '';
  background-image: url('../src/assets/img/buttonUp.png');
  background-position: center center;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-color: #111111;
  bottom: 0;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99999999;
}

#go-top:hover {
  background: #666666;
}

@media screen and (max-width: 375px) {
  #go-top::after {
    right: -5px;
  }
}
