body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#go-top {
  position: fixed;
  bottom: 25px;
  right: 10px;
  cursor:pointer;
  display:none;
  z-index: 99999999;
}

#go-top::after {
  content: '⇧';
  background-color: #464646;
  font-size: 2rem;
  font-weight: 300;
  width: 40px;
  height: 40px;
  color: silver;
  bottom: 0;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99999999;
}

@media screen and (max-width: 375px) {
  #go-top::after {
    right: -5px;
  }
}
