body {
  margin: 0;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#go-top {
  position: fixed;
  bottom: 25px;
  right: 10px;
  cursor:pointer;
  display:none;
  width: 50px;
  height: 50px;
  background: #111111;
  opacity: 1;
  border-radius: 50%;
}

#go-top::after {
  content: 'Go Up';
  font-weight: 600;
  font-size: 1rem;
  background-color: #111111;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99999999;
}

#go-top:hover {
  background: #666666;
}
