.freelance {
    min-height: 350px;
    background-color: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.work {
    width: 90%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work button {
    height: 70px;
    width: 150px;
}
